{% load static %}
<html>
<head>
        
    <link rel="stylesheet" href="{% static  'style.css' %}" type="text/css">
    <title>

    </title>
</head>

<body>
        <p>
                <div class="heading">
                    <ul class="list">
                            <li><a href="{% url 'withdraw' value='withdraw' %}"><b>Withdraw Amount</b></a></li>
                            <li><a href="{% url 'withdraw' value='add' %}"><b>Add Amount</b></a></li>  
                        <li><a href="{% url 'withdraw' value='expense' %}"><b>Update Monthly Expense</b></a></li>
                        <li><a href="{% url 'logout' %}"><b>Logout</b></a></li>
                       
                    </ul>
    
                
                <b><h1>Welcome Employee-{{username}}</b></h1>
            </div>
            </p>
            <p>
                    {% for val in owner %}
                       <b><h3>Remaining Balance: {{val.Balance}}</h3></b>
                    {% endfor %}
                
                </p>
        
    
        <div class="main">
        
        <p><h2>Your current Jobs</h2></p>
        <p>
            <table>
            <tr>    
                <th>Job Name</th>
                <th>Salary</th>
            </tr>
            {% for jo in job %}
            <tr>
                <td>{{jo.JobName}}</td>
                <td>{{jo.Income}}</td>
            </tr>
                {% endfor %}       
            
        </p>


        
       
        
       


        



       

        
        
</div>

</body>

</html>