<html>


<head>
    <title>Login</title>
</head>

<body>
    <form action="/Register/" method="POST" >
        {% csrf_token %}
        {{message}}<br>
         Username:<input type="text" name="user"><br>
         Password:<input type="password" name="password"><br>
         Employee code:<input type="text" name="code"><br>
         E-mail:<input type="email" name="email"><br>
         Gender:<input type="text" name="gender"><br>
         Date Of Birth:<input type="date" name="date"><br>
         Position:<input type="text" name="pos"><br>
         Department:<input type="text" name="dep"><br>
         

        <button type="submit">Create User</button>



    </form>




</body>
</html>