
*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{color:black;
background-color:#EFE2BA}

table,th,td
{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 20px ;
}


 


.bal{
    background-color: red;
    color:white;
    text-align: center;

}


a{
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px;
    
}

a:hover{
    color: blue;
}


 

li,button{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px;
    
}
.content
{
text-align: right;
}

.money
{
    float: right;
}

header
{

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color:black;
    color: white;

}

.notify
{
    text-align: center;
    background-color: red;
    
}
.nav_bar {
    list-style: none;
}


.nav_bar li {

    display: inline-block;
    padding: 0px 20px;
}
.nav_bar li  a {
    transition: all 0.3s ease 0s;
}

.nav_bar li a:hover{
    background-color: #0088a9;
}

.login_form{
  width: 400px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -160px;
  
  
}

input {
    width: 400px;
    padding: 10px 0px;
    background:transparent;
    border: 0;
    border-bottom: 1px solid #435160;
    outline: none;
    color:black;
    font-size: 16px;
    
  }

  button{
    background: #1FCE6D;
    border:0;
    width: 400px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }

  button:hover {
    background: yellowgreen;
   
    
  }

  .create_form{
    width: 400px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -160px;
    
    
  }

  
